<md-content>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h1>Scripter</h1>
    </div>
  </md-toolbar>

  <div layout="row" layout-margin layout-padding>
    <div layout="column" flex layout-align="top left">
      <h2>Script:</h2>
      <md-input-container>
        <label>Saved Scripts</label>
        <md-select ng-model="selectedScript" aria-label="Selected script">
          <md-option ng-repeat="script in scripts track by $index" ng-value="script.id">
            {{ script.name }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-content layout-padding layout="row" layout-sm="column">
        <md-input-container>
          <label>Name:</label>
          <input ng-model="script.name">
        </md-input-container>
        <md-input-container>
          <label>Mode</label>
          <md-select ng-change="modeChanged()" ng-model="script.scriptMode" aria-label="Script mode">
            <md-option ng-repeat="scriptMode in scriptModes" ng-value="scriptMode">
              {{ scriptMode }}
            </md-option>
          </md-select>
        </md-input-container>
      </md-content>
      <md-input-container>
        <div ui-ace="aceOption" ng-model="script.code">

        </div>
      </md-input-container>
      <div layout="row">
        <md-button class="md-raised" ng-disabled="!isScriptOk()" ng-click="saveScript()">
          Save
        </md-button>
        <md-button class="md-raised" ng-click="clearScript()">
          Clear
        </md-button>
      </div>

    </div>
    <div layout="column" flex layout-align="top center">

      <h2>Variables</h2>

      <md-input-container ng-repeat="variable in variables">
        <div>
          <label>{{ variable }}</label>
          <input name="variable" ng-model="variableValues[variable]">
        </div>
      </md-input-container>
    </div>
    <div layout="column" flex>
      <h2>Output:</h2>
      <div ui-ace="{
          useWrapMode: true,
          showGutter: false,
          $blockScrolling: Infinity,
          mode: {{script.scriptMode || 'JSON'}},
          onLoad: aceLoaded
      }" readonly ng-model="fullScript">
      </div>
    </div>

  </div>
</md-content>
